/*
  Welcome to Compass. Use this file to define print styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  
.handwrite
  border-bottom: 1px solid black 
  width: 600px
  margin-top: 30px

.top-line
  margin-top: 60px
  
.bottom-line
  margin-bottom: 60px
    
.pagebreak
  page-break-before: always
  padding: 5px
  
.blank
  border-bottom: 1px solid black 
  width: 100px
  display: inline-block
  
li
  list-style-type: none
  ß
.sentence, .input
  margin: 50px 0px

.connector-bank
  float: right
  
  .choice
    margin: 50px 0px

.connector-images
  float: left
  img
    display: block
    max-height: 30%
