/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3/
@import "compass/utilities/general/clearfix"

$border-width: 2px
$border-color: #b0e68b
$main-text-color: #93a488
$main-bg: #e8f8dc

$header-height: 50px
$default-fonts: 'Lucida Grande', Arial, sans-serif

// Basic resetting of things.
html, body
  width: 100%
  height: 100%
  min-height: 100%
  color: $main-text-color
  font-family: $default-fonts

// Dialog stuff.
#shim
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1

  background-color: gray
  +opacity(0.5)

.dialog
  display: none
  position: fixed
  top: 30%
  left: 30%
  width: 40%
  z-index: 2

  background-color: #9ee170
  color: white
  padding: 10px
  border: 4px solid white

  .close
    position: absolute
    top: 5px
    right: 5px

  &.current
    display: block

  &.current ~ #shim
    display: block

// Actual app stuff. TODO break me into different sass files.
body
  background-color: $main-bg  
  font: 13px/20px normal Helvetica, Arial, sans-serif
  color: #4F5155

  .logged-out, .logged-in
    display: none
  &.logged-out .logged-out, &.logged-in .logged-in
    display: inline-block

h1
  font-size: 28px
  font-weight: bold
  margin-bottom: 12px
h2
  font-size: 22px
  font-weight: bold
  margin-bottom: 8px

button, a
  border: $border-width solid $border-color
  background-color: white
  color: $main-text-color
  font-size: 18px

  padding: 3px 5px
  margin: 2px
  cursor: pointer
  text-decoration: none
  line-height: normal
  font-family: $default-fonts

header
  background: white
  border-bottom: $border-width solid $border-color
  padding: 10px
  +clearfix

  .home
    float: left

  > div
    float: right

#container
  #content
    padding-top: 20px
    margin: auto
    width: 80%

// Form stuffs
form
  label
    display: block
    margin: 5px 0px
