/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/print.sass */
.handwrite {
  border-bottom: 1px solid black;
  width: 600px;
  margin-top: 30px;
}

/* line 11, ../sass/print.sass */
.top-line {
  margin-top: 60px;
}

/* line 14, ../sass/print.sass */
.bottom-line {
  margin-bottom: 60px;
}

/* line 17, ../sass/print.sass */
.pagebreak {
  page-break-before: always;
  padding: 5px;
}
