/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/screen.sass */
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #93a488;
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* line 28, ../sass/screen.sass */
#shim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: gray;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 40, ../sass/screen.sass */
.dialog {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40%;
  z-index: 2;
  background-color: #9ee170;
  color: white;
  padding: 10px;
  border: 4px solid white;
}
/* line 53, ../sass/screen.sass */
.dialog .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 58, ../sass/screen.sass */
.dialog.current {
  display: block;
}
/* line 61, ../sass/screen.sass */
.dialog.current ~ #shim {
  display: block;
}

/* line 65, ../sass/screen.sass */
body {
  background-color: #e8f8dc;
  font: 13px/20px normal Helvetica, Arial, sans-serif;
  color: #4f5155;
}
/* line 70, ../sass/screen.sass */
body .logged-out, body .logged-in {
  display: none;
}
/* line 72, ../sass/screen.sass */
body.logged-out .logged-out, body.logged-in .logged-in {
  display: inline-block;
}

/* line 75, ../sass/screen.sass */
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* line 79, ../sass/screen.sass */
h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 84, ../sass/screen.sass */
button, a {
  border: 2px solid #b0e68b;
  background-color: white;
  color: #93a488;
  font-size: 18px;
  padding: 3px 5px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  line-height: normal;
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* line 97, ../sass/screen.sass */
header {
  background: white;
  border-bottom: 2px solid #b0e68b;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 103, ../sass/screen.sass */
header .home {
  float: left;
}
/* line 106, ../sass/screen.sass */
header > div {
  float: right;
}

/* line 110, ../sass/screen.sass */
#container #content {
  padding-top: 20px;
  margin: auto;
  width: 80%;
}

/* line 117, ../sass/screen.sass */
form label {
  display: block;
  margin: 5px 0px;
}
