/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.sass */
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #97a488;
}

/* line 29, ../sass/screen.sass */
.templates, .template {
  display: none;
}

/* line 33, ../sass/screen.sass */
#shim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: gray;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 45, ../sass/screen.sass */
.dialog {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 350px;
  z-index: 2;
  text-align: center;
  background-color: #9ee170;
  color: white;
  padding: 15px;
  border: 3px solid white;
}
/* line 59, ../sass/screen.sass */
.dialog label {
  text-align: right;
  padding-right: 14%;
  font-size: 16px;
}
/* line 64, ../sass/screen.sass */
.dialog label input {
  width: 180px;
  height: 18px;
}
/* line 68, ../sass/screen.sass */
.dialog .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 73, ../sass/screen.sass */
.dialog.current {
  display: block;
}
/* line 76, ../sass/screen.sass */
.dialog.current ~ #shim {
  display: block;
}

/* line 80, ../sass/screen.sass */
body {
  background-color: #e8f8dc;
  font: 13px/20px "Lucida Grande", Arial, sans-serif;
}
/* line 86, ../sass/screen.sass */
body .logged-out, body .logged-in {
  display: none;
}
/* line 88, ../sass/screen.sass */
body.logged-out .logged-out, body.logged-in .logged-in {
  display: inline-block;
}
/* line 91, ../sass/screen.sass */
body .covered {
  display: none;
}
/* line 94, ../sass/screen.sass */
body .correct {
  color: #78c149;
}
/* line 97, ../sass/screen.sass */
body .incorrect {
  color: #c62f12;
}

/* line 100, ../sass/screen.sass */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 104, ../sass/screen.sass */
h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* line 109, ../sass/screen.sass */
button, a, input.submit, input.save, .substitute {
  border: 2px solid #b0e68b;
  background-color: white;
  color: #97a488;
  font-size: 18px;
  display: inline-block;
  padding: 3px 5px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  line-height: normal;
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* line 124, ../sass/screen.sass */
.file-holder {
  position: relative;
  width: 145px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
}
/* line 131, ../sass/screen.sass */
.file-holder .substitute {
  position: relative;
  z-index: 0;
}
/* line 135, ../sass/screen.sass */
.file-holder input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 141px;
  height: 33px;
  z-index: 1;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}

/* line 146, ../sass/screen.sass */
header {
  background: white;
  border-bottom: 2px solid #b0e68b;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 152, ../sass/screen.sass */
header .home {
  float: left;
}
/* line 155, ../sass/screen.sass */
header > div {
  float: right;
}
/* line 158, ../sass/screen.sass */
header .score {
  font-size: 32px;
  line-height: 34px;
}
/* line 162, ../sass/screen.sass */
header .score .percentage {
  display: inline-block;
  margin-left: 10px;
}

/* line 166, ../sass/screen.sass */
#container {
  width: 80%;
  margin: auto;
}
/* line 170, ../sass/screen.sass */
#container #content {
  padding-top: 40px;
}
/* line 173, ../sass/screen.sass */
#container #content .reinforcement {
  font-size: 32px;
  text-align: center;
}
/* line 177, ../sass/screen.sass */
#container #content #lesson {
  text-align: center;
  padding: 60px;
}
/* line 181, ../sass/screen.sass */
#container #content #lesson .sentence, #container #content #lesson .question, #container #content #lesson .answers {
  font-size: 28px;
}
/* line 184, ../sass/screen.sass */
#container #content #lesson input.sentence {
  width: 80%;
  min-width: 500px;
  border: 2px solid #b0e68b;
}
/* line 189, ../sass/screen.sass */
#container #content #action-menu {
  padding-top: 20px;
  text-align: center;
}

/* line 195, ../sass/screen.sass */
form label {
  display: block;
  margin: 10px 0px;
  font-size: 18px;
}
/* line 200, ../sass/screen.sass */
form input {
  font-size: 18px;
  color: #adb7a5;
  padding-left: 5px;
}

/* line 209, ../sass/screen.sass */
.landing #container {
  width: 50%;
  text-align: center;
}
/* line 213, ../sass/screen.sass */
.landing #container .about {
  display: block;
  margin: auto;
  padding: 60px;
}

/* line 219, ../sass/screen.sass */
body.activities .play {
  overflow: hidden;
  *zoom: 1;
}
/* line 222, ../sass/screen.sass */
body.activities .play .activities {
  float: left;
}
/* line 224, ../sass/screen.sass */
body.activities .play .levels {
  float: right;
}

/* line 228, ../sass/screen.sass */
.users #content, .units #content, .activities #content {
  background: white;
  border: 2px solid #b0e68b;
  margin: 40px 0px;
  padding: 20px 40px;
}

/* line 235, ../sass/screen.sass */
.units h2 {
  display: inline;
}
/* line 238, ../sass/screen.sass */
.units input.unit, .units input.sentence {
  border: 2px solid #b0e68b;
}
/* line 241, ../sass/screen.sass */
.units input.unit {
  width: 300px;
  height: 20px;
}
/* line 245, ../sass/screen.sass */
.units input.sentence {
  width: 86%;
}

/* line 249, ../sass/screen.sass */
li.unit button, li.unit a, li.user button, li.user a {
  display: block;
}

/* line 252, ../sass/screen.sass */
li.lesson {
  border: 2px solid #b0e68b;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 20px 0px;
}
/* line 258, ../sass/screen.sass */
li.lesson .image-name {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #adb7a5;
}
