/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.sass */
html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  color: #97a488;
}

/* line 29, ../sass/screen.sass */
.templates, .template {
  display: none;
}

/* line 33, ../sass/screen.sass */
#shim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: gray;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 45, ../sass/screen.sass */
.dialog {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -196px;
  width: 350px;
  z-index: 2;
  text-align: center;
  background-color: #9ee170;
  color: white;
  padding: 15px;
  border: 3px solid white;
}
/* line 60, ../sass/screen.sass */
.dialog h2 {
  padding-top: 5px;
}
/* line 63, ../sass/screen.sass */
.dialog label {
  text-align: right;
  padding-right: 13%;
  font-size: 16px;
}
/* line 68, ../sass/screen.sass */
.dialog label input {
  width: 180px;
  height: 18px;
}
/* line 72, ../sass/screen.sass */
.dialog .close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url("../images/close-white.png") no-repeat;
  border: none;
  width: 34px;
  height: 33px;
  margin: 0;
  padding: 0;
  text-indent: -999px;
  overflow: hidden;
}
/* line 84, ../sass/screen.sass */
.dialog .close:hover {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -o-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
/* line 87, ../sass/screen.sass */
.dialog .close:active {
  top: 6px;
  right: 4px;
  left: auto;
  bottom: auto;
}
/* line 93, ../sass/screen.sass */
.dialog.current {
  display: block;
}
/* line 96, ../sass/screen.sass */
.dialog.current ~ #shim {
  display: block;
}

/* line 100, ../sass/screen.sass */
body {
  background-color: #e8f8dc;
  font: 13px/20px "Lucida Grande", Arial, sans-serif;
}
/* line 106, ../sass/screen.sass */
body .logged-out, body .logged-in {
  display: none;
}
/* line 108, ../sass/screen.sass */
body.logged-out .logged-out, body.logged-in .logged-in {
  display: inline-block;
}
/* line 111, ../sass/screen.sass */
body .covered {
  visibility: hidden !important;
}
/* line 113, ../sass/screen.sass */
body #action-menu .covered {
  display: none !important;
}
/* line 116, ../sass/screen.sass */
body .correct {
  color: #78c149;
}
/* line 119, ../sass/screen.sass */
body .incorrect {
  color: #c62f12;
}

/* line 122, ../sass/screen.sass */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 126, ../sass/screen.sass */
h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* line 131, ../sass/screen.sass */
button, a, input.submit, input.save, .substitute {
  border: 2px solid #b0e68b;
  background-color: white;
  color: #97a488;
  font-size: 18px;
  display: inline-block;
  padding: 3px 5px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  line-height: normal;
  font-family: "Lucida Grande", Arial, sans-serif;
}
/* line 146, ../sass/screen.sass */
button:hover, a:hover, input.submit:hover, input.save:hover, .substitute:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px 1px;
}
/* line 149, ../sass/screen.sass */
button:active, a:active, input.submit:active, input.save:active, .substitute:active {
  position: relative;
  top: 1px;
  left: 1px;
}

/* line 154, ../sass/screen.sass */
.errors {
  color: #aa0000;
}

/* line 157, ../sass/screen.sass */
a.logo-holder, ul.rows a {
  border: none;
  display: block;
  background: none;
  margin: 0;
  padding: 0;
}
/* line 163, ../sass/screen.sass */
a.logo-holder:hover, ul.rows a:hover {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -o-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/* line 166, ../sass/screen.sass */
ul.rows {
  border: 2px solid #b0e68b;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 172, ../sass/screen.sass */
ul.rows li {
  border-top: 2px solid #b0e68b;
  position: relative;
}
/* line 176, ../sass/screen.sass */
ul.rows li:first-child {
  border: none;
}
/* line 179, ../sass/screen.sass */
ul.rows li:nth-child(even) {
  background: #f8f8f8;
}
/* line 182, ../sass/screen.sass */
ul.rows li a {
  padding: 7px 15px;
}
/* line 185, ../sass/screen.sass */
ul.rows li .edit, ul.rows li .print {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 190, ../sass/screen.sass */
ul.rows li .edit:active, ul.rows li .print:active {
  left: auto;
  top: 1px;
  right: -1px;
}

/* line 195, ../sass/screen.sass */
.file-holder {
  position: relative;
  width: 145px;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}
/* line 202, ../sass/screen.sass */
.file-holder .substitute {
  position: relative;
  z-index: 0;
  padding: 20px;
}
/* line 207, ../sass/screen.sass */
.file-holder input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 141px;
  height: 70px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}

/* line 219, ../sass/screen.sass */
header {
  background: white;
  border-bottom: 2px solid #b0e68b;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 225, ../sass/screen.sass */
header .home {
  float: left;
}
/* line 228, ../sass/screen.sass */
header > div {
  float: right;
}
/* line 231, ../sass/screen.sass */
header .score {
  font-size: 32px;
  line-height: 34px;
}
/* line 235, ../sass/screen.sass */
header .score .percentage {
  display: inline-block;
  margin-left: 10px;
}

/* line 239, ../sass/screen.sass */
#container {
  width: 80%;
  margin: auto;
}
/* line 243, ../sass/screen.sass */
#container #content {
  padding-top: 40px;
}
/* line 246, ../sass/screen.sass */
#container #content .reinforcement {
  font-size: 32px;
  text-align: center;
}
/* line 250, ../sass/screen.sass */
#container #content #instruction {
  line-height: 1.5em;
}
/* line 253, ../sass/screen.sass */
#container #content #lesson {
  text-align: center;
  padding: 60px;
  font-size: 24px;
  line-height: 1.5em;
}
/* line 259, ../sass/screen.sass */
#container #content #lesson .sentence, #container #content #lesson .question, #container #content #lesson .answers, #container #content #lesson .answer {
  font-size: 28px;
  margin: 5px;
}
/* line 263, ../sass/screen.sass */
#container #content #lesson input[type="text"] {
  width: 80%;
  min-width: 500px;
  border: 2px solid #b0e68b;
}
/* line 268, ../sass/screen.sass */
#container #content #action-menu {
  padding-top: 20px;
  text-align: center;
}

/* line 275, ../sass/screen.sass */
form label {
  display: block;
  margin: 3px 0px;
  font-size: 18px;
}
/* line 280, ../sass/screen.sass */
form input {
  font-size: 18px;
  color: #adb7a5;
  padding-left: 5px;
}
/* line 285, ../sass/screen.sass */
form input.info {
  border: 2px solid #b0e68b;
}

/* line 288, ../sass/screen.sass */
.removable {
  position: relative;
}

/* line 290, ../sass/screen.sass */
.remove {
  background: url("../images/close.png") no-repeat;
  border: none;
  width: 34px;
  height: 33px;
  padding: 0px;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
/* line 300, ../sass/screen.sass */
.remove:hover {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -o-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
/* line 303, ../sass/screen.sass */
.remove + * {
  padding-left: 40px;
}

/* line 310, ../sass/screen.sass */
.landing #container {
  width: 50%;
  text-align: center;
}
/* line 314, ../sass/screen.sass */
.landing #container .about {
  display: block;
  margin: auto;
  padding: 30px 15px;
}

/* line 321, ../sass/screen.sass */
body.activities img {
  display: block;
  margin: auto;
  padding-bottom: 3%;
}
/* line 326, ../sass/screen.sass */
body.activities .missing {
  display: inline;
  position: relative;
  top: -0.25em;
}
/* line 332, ../sass/screen.sass */
body.activities .missing .filler {
  margin: 0 10px;
  visibility: hidden !important;
  display: inline;
  color: transparent;
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 340, ../sass/screen.sass */
body.activities .missing label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
/* line 347, ../sass/screen.sass */
body.activities .missing input {
  width: inherit !important;
  min-width: 0 !important;
  border: 1px solid #b0e68b !important;
  padding: 5px 5px !important;
  text-align: center;
  font-size: inherit !important;
  margin: 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1em;
  display: inline-block;
}
/* line 366, ../sass/screen.sass */
body.activities .missing.guessing label {
  display: none;
}
/* line 369, ../sass/screen.sass */
body.activities ul.choices {
  margin: 20px;
}
/* line 372, ../sass/screen.sass */
body.activities ul.choices li {
  margin: 10px;
}

/* line 376, ../sass/screen.sass */
.users .user-link {
  position: relative;
}
/* line 379, ../sass/screen.sass */
.users .user-link .name {
  display: inline-block;
  max-width: 38%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 386, ../sass/screen.sass */
.users .user-link .school {
  position: absolute;
  left: 40%;
}
/* line 389, ../sass/screen.sass */
.users .user-link .grade {
  position: absolute;
  right: 40px;
}

/* line 394, ../sass/screen.sass */
.users #content, .units #content, .activities #content {
  background: white;
  border: 2px solid #b0e68b;
  margin: 40px 0px;
  padding: 20px 40px;
}

/* line 402, ../sass/screen.sass */
.units form {
  position: relative;
}
/* line 405, ../sass/screen.sass */
.units form .delete {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 410, ../sass/screen.sass */
.units form .delete:active {
  left: auto;
  right: -1px;
  top: 1px;
}
/* line 415, ../sass/screen.sass */
.units form h2 {
  display: inline;
}
/* line 418, ../sass/screen.sass */
.units form .stretch {
  overflow: hidden;
  *zoom: 1;
  line-height: 1.75em;
  position: relative;
}
/* line 423, ../sass/screen.sass */
.units form .stretch div {
  display: block;
  width: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin-left: 135px;
  text-align: right;
}
/* line 433, ../sass/screen.sass */
.units form .stretch div input {
  width: 95%;
}
/* line 436, ../sass/screen.sass */
.units form input.unit, .units form input.sentence, .units form input.answer, .units form input.question-text {
  border: 2px solid #b0e68b;
}
/* line 439, ../sass/screen.sass */
.units form input.unit {
  width: 300px;
  height: 20px;
}

/* line 444, ../sass/screen.sass */
li.unit button, li.unit a, li.user button, li.user a {
  display: block;
}

/* line 447, ../sass/screen.sass */
li.lesson {
  border: 2px solid #b0e68b;
  padding: 10px;
  margin: 20px 0px;
  position: relative;
}
/* line 453, ../sass/screen.sass */
li.lesson .image-name {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #adb7a5;
}
/* line 459, ../sass/screen.sass */
li.lesson .upload-picture {
  overflow: hidden;
  *zoom: 1;
}
/* line 461, ../sass/screen.sass */
li.lesson .upload-picture > label {
  float: left;
}
/* line 464, ../sass/screen.sass */
li.lesson .upload-picture .image-holder {
  position: relative;
  margin-left: 18%;
  width: 82%;
  overflow: hidden;
  *zoom: 1;
}
/* line 470, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  height: 200px;
}
/* line 477, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image .image-name.old-image {
  display: none;
}
/* line 480, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image.active {
  background-color: #e8f8dc;
}
/* line 485, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image label {
  height: 200px;
}
/* line 488, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image.new-image label {
  padding-top: 10%;
}
/* line 491, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image img {
  height: 100%;
  max-width: 100%;
}
/* line 495, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image .file-holder {
  margin: auto;
}
/* line 498, ../sass/screen.sass */
li.lesson .upload-picture .image-holder .image input[type=radio] {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
/* line 504, ../sass/screen.sass */
li.lesson li.question {
  display: block;
}
/* line 506, ../sass/screen.sass */
li.lesson li.question .remove {
  z-index: 1;
}
/* line 508, ../sass/screen.sass */
li.lesson li.question:hover .answer .help {
  visibility: visible;
}
/* line 511, ../sass/screen.sass */
li.lesson li.question .answer {
  overflow: hidden;
  *zoom: 1;
}
/* line 514, ../sass/screen.sass */
li.lesson li.question .answer .help {
  float: left;
  width: 28%;
  padding: 15px 0;
  visibility: hidden;
}
/* line 519, ../sass/screen.sass */
li.lesson li.question .answer .help h4 {
  font-size: 16px;
}
/* line 521, ../sass/screen.sass */
li.lesson li.question .answer .help p {
  font-size: 14px;
}
/* line 523, ../sass/screen.sass */
li.lesson li.question .answer .answers {
  float: right;
  text-align: right;
  width: 70%;
  margin-right: 2px;
}
/* line 529, ../sass/screen.sass */
li.lesson li.question .answer .answers fieldset.answer {
  margin: 5px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 533, ../sass/screen.sass */
li.lesson li.question .answer .answers fieldset.answer input {
  display: inline-block;
}
/* line 535, ../sass/screen.sass */
li.lesson li.question .answer .answers fieldset.answer input[type=text] {
  width: 90%;
}
/* line 538, ../sass/screen.sass */
li.lesson label {
  display: block;
}
